extends layout

block content
  #fb-root
  script(src="/javascripts/start_fb.js")
  a#login(href="javascript:login()", style="display:none")
    img(src="/images/fblogin.png", style="width:200px")
  #header
    ul.headList
      li
        h1#head(style="display:inline")= title
      li
        h1
          a(href="/newchallenge") Challenge	
  div.masonry    
    each challenge in challenges
      div.item
         h3= challenge.challenge   
         div.prize
           h3 Reward: 
             if challenge.reward=='Venmo'
               |$#{challenge.rewardValue}
         br
         h3 Proof?
         div.proof(data-id= challenge._id)
           h3.vote.up= challenge.proofLikes
           h3  + 
           h3  / - 
           h3.vote.down= challenge.proofDislikes
         h3= challenge.comments
